.topnav {
    width: 100%;
    padding: 25px;
    text-align: center;
}

.topnav a {
       
        color: black;
        text-align: center;
        padding: 14px 14px 14px 14px;
        text-decoration: none;
        font-size: 17px; 
}

body{
    background-color:lavenderblush;
    color:black;
}