.topnav {
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
}

    .topnav a {
        color: black;
        text-align: center;
        padding: 14px 14px 14px 14px;
        text-decoration: none;
        font-size: 17px;
    }

body {
    background-color: lavenderblush;
    color: black;
}

h1 {
    color: black;
}

#info {
    background-color: maroon;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    color: aliceblue
}

#summer {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#school {
    height: 400px;
    width: auto;
}